/* :root {
    --color-1: #0B62DB;
    --color-2: #0BA0E6;
    --color-3: #00C4CF;
    --color-4: #0BE6B3;
    --color-5: #0BDB70;
} */

.cust-nav {
    background-color: var(--color-1);
}

.cust-txt-light {
    color: var(--color-4);
}

.cust-txt-dark {
    color: var(--color-1);
}

.cust-btn-green {
    background-color: var(--color-5);
}

.cust-btn-blue {
    background-color: var(--color-3);
}