<nav class="cust-nav navbar">
    
    <a class="navbar-brand" routerLink="/">Pressing v1</a>

    <div class="" id="navbarNav">
        <div class="d-flex border">
            <a class="nav-link active" routerLink="/">Accueil</a>
            <a class="nav-link active" routerLink="/">Services</a>
            <a class="nav-link active" routerLink="/">A propos</a>
            <a class="nav-link active" routerLink="/">Contact</a>
        </div>

        <div class="border">
            <button class="btn btn-primary" routerLink="/login">Connexion</button>
            <button *ngIf="isLogged()" class="btn" (click)="logout()">Déconnexion</button>
            <button class="btn" routerLink="/register">Inscription</button>
        </div>
        
    </div>
</nav>