<footer class="cust-bg-dark cust-txt-light">
    <div class="p-5">
        <div class="d-flex justify-content-between ">
            <div>Réseaux sociaux</div>
            <div>
                <!--Ajouter logos réseaux sociaux-->
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="w-25">
                <h6>WAVE WASH</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut delectus doloremque illum et
                    a maxime? Deleniti ea cupiditate, accusantium porro consequuntur itaque quis facilis ducimus, modi,
                    magnam nostrum eum.</p>
            </div>
            <div class="d-flex flex-column justify-content-between text-center w-25">
                <h6>LIENS</h6>
                <a class="nav-link" routerLink="/">Accueil</a>
                <a class="nav-link" routerLink="/">Services</a>
                <a class="nav-link" routerLink="/">A propos</a>
                <a class="nav-link" routerLink="/">Contact</a>
            </div>
            <div class="w-25">
                <h6>CONTACT</h6>
                <p>Adresse : <a class="nav-link" href="https://www.google.fr/maps/preview" target="_blank">12 av Vague, 69008 Lyon</a></p>
                <p>Téléphone : 04 78 56 12 23</p>
                <p>Email : <a class="nav-link" href="">wavewash@wavewash.com</a></p>
            </div>
        </div>
    </div>
    <div class="cust-bg-blue p-4">
        <div class="text-center">
            <p> © 2023 Copyright: washwave.com</p>
        </div>
    </div>

</footer>