<div class="row justify-content-center">

    <div class="border rounded col-6 p-4">

        <form [formGroup]="form" (ngSubmit)="handleSubmit()">

            <div class="">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" formControlName="username" required>
                </div>
            </div>

            <div class="">
                <div class="form-group">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input class="form-control" type="password" formControlName="password" required>
                </div>
            </div>

            <button class="btn cust-btn-green">Connexion</button>

        </form>
    </div>
</div>