<div class="container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="row">
            <div class="col sm-4">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" formControlName="username" required>
                </div>
            </div>
            <div class="col sm-4">
                <div class="form-group">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input class="form-control" type="password" formControlName="password" required>
                </div>
            </div>
            <button class="btn btn-success">Connexion</button>
        </div>

    </form>
</div>
